extends /templates/admin.pug

block plugin
  h3=plugin.name

  hr
  div(class="row")
    if query
      h5(class="col-4") Results for '#{query}'
      
    else
      h5(class="col-3") Search Plants
    form(class="col" action="" method="GET")
      div(class="input-group input-group-sm mb-3 col")  
        input(type="hidden" name="plugin" value="plant")
        input(id="search" type="text" class="form-control" name="query" value=query)
        button(class="btn btn-outline-primary" type="submit") Search
  if query
    if !plants.size
      div(class="alert alert-info" role="alert") There are no results!
    else
      
      form(method="POST" action="/admin/plugins?plugin=plant")
        
        div(class="input-group input-group-sm mb-3")
          //- +form-label('parentRef', 'Select Catalog: ')
          label(class="input-group-text" for="parentRef_id") Select Catalog:
          +form-contentselect('parentRef', parentRef, contentlist)
          button(class="btn btn-primary" name="add" type="submit") Add

        div(class="row m-0 gx-5")
          each plant in Array.from(plants.values())
            
            //- - let name = plant.vernacularNames.join(', ')
            //- - console.log('here, here');
            //- - if( content.has(plant.ref)) console.log('we have this');
            div(class="form-check col-sm-6 overflow-hidden")
              input(class="form-check-input" type="checkbox"
                name="taxonIds" value=plant.taxonID id=plant.taxonID)
              label(class="form-check-label" for=plant.taxonID)
                if plant.vernacularNames
                  b #{plant.vernacularNames.join(', ')}
                else
                  b --
                br
                i (#{plant.scientificName}) 
      
  div
    hr
    h5 Added Plants
      if(content.size)
        span(class="badge text-bg-secondary ms-3")=content.size
    div(class="row gx-5")
      if !content.size
        div(class="col-12")
          div(class="alert alert-info" role="alert") There are no linked plants yet!
      each plant in Array.from(content.values())
        - var link = '/admin/content?ref='+plant.ref;
        form(method="POST" action="/admin/plugins?plugin=plant"
          class="col-12 col-sm-6")
          a(href=link class="me-2")=plant.title
          input(type="hidden" name="ref" value=plant.ref)
          button(class="btn btn-sm btn-outline-danger" 
            name="remove" type="submit") Remove
