doctype html
html
  head
    title NodeJS-CMS Admin
    include head.pug
  body
    div(class="container")
      div(class="header")
        h1
          img(src="/resources/favicon.png" height="32px" width="32px") 
          b(class="text-capitalize")=page.title
          small(class="text-muted")  NodeJS-CMS

      nav(class="navbar navbar-expand-lg")
        div(class="container-fluid")
          //- a(class="navbar-brand" href="/admin") Admin
          div(class="collapse navbar-collapse")
            ul(class="navbar-nav")
              each title in admin.nav
                - var _class = 'nav-link';
                - _class += (page.title==title)? ' active' : '';
                - link = '/admin/'+title
                li(class="nav-item")
                  a(class=_class href=link)=title
          span(class="navbar-text")
            a(href='/' target='_blank') Visit the website

      mixin form-label( name, label )
        - var id = name+'_Id';
        label(for=id class="form-label col-sm-2 col-form-label-sm")=label
      
      mixin form-textinput( name, value, helpText)
        - var id = name+'_Id';
        - var helpId = name+'_HelpId';
        input(type="text"
          class="form-control form-control-sm" 
          name=name
          value=value id=id
          aria-describedby=helpId)
        div(id=helpId class="form-text")=helpText
      mixin form-floating-input( name, value, label)
        - var id = name+'_Id';
        div(class="form-floating mb-3")
          input(type="text" name=name value=value class="form-control" id=id)
          label(for="floatingInput")=label
      mixin form-hiddeninput(name, value)
        input(type="hidden" name=name value=value)
      mixin form-submitbuttom( label )
        button(type="submit" class="btn btn-primary btn-sm")=label
      mixin form-deletebutton( label )
        button(type="submit" name="delete" class="btn btn-danger btn-sm")=label
      mixin form-addbutton( label )
        button(type="submit" class="btn btn-success btn-sm")=label
      mixin form-switch(name, label)
        - var id = name+'_Id';
        div(class="form-check form-switch")
          input(class="form-check-input" name=name type="checkbox" role="switch" id=id)
          label(class="form-check-label" for=id)=label

      mixin form-textarea(name, value)
        textarea(
          class="form-control"
          name=name
          id="exampleFormControlTextarea1"
          rows="10")=value
      mixin form-dateinput(name, value)
        input(
          type="date" class="form-control form-control-sm"
          name=name value=value)
      mixin form-statusselect(name, value)
        - var id = name+'_Id';
        div(class="btn-group" role="group")
          - var statusCodes = ['draft','onhold','published'];
          for s in statusCodes
            - var id = s+'_Id';
            - var checked = (s == value);
            input(type="radio" class="btn-check" 
              name=name value=s id=id autocomplete="off" checked=checked)
            label(
              class="btn btn-outline-primary btn-sm btn-outline-secondary" 
              for=id)=s

      mixin link-form(link)
        if !link
          - link = {ref:'',title:'',link:''}
        form(method="POST" action="/admin/content?ref="+link.ref)
          div(class="row grid gap-1 row-gap-3")
            div(class="col-sm-4 p-1")
              +form-textinput('title',link.title)
            div(class="col-sm-4 p-1")
              +form-textinput('link',link.link)
            div(class="col-sm d-grid p-1 gap-2 d-md-flex justify-content-md-end")
              if (link.ref)
                +form-submitbuttom('Save')
                +form-deletebutton('Delete')
              else
                +form-addbutton('Add')

      mixin publish-form(content)
        form(method="POST" action="/admin/content?ref="+content.ref)
          +form-hiddeninput('status', 'published')
          +form-switch('publish', 'Publish')
          
      mixin socials-form(content)
        form(method="POST" action="/admin/content?ref="+content.ref)
          div(class="row")
            div(class="col-2")
              +form-label('title','Title')
            div(class="col-6")
              //- +form-floating-input('title', content.title, 'Title')
              +form-textinput('title',content.title)
            div(class="col-2")
              +form-switch('publish', 'Publish')
            div(class="col-2 justify-content-md-end")
              +form-submitbuttom('Submit')
        hr
        div(class="row fw-bold")
          div(class="col")
            +form-label('title','Title')
          div(class="col")
            +form-label('link','Link')
          div(class="col")
        for link in Array.from(content.entries())
          +link-form(link)

      mixin content-bag(content)
        div(class="row")
          div(class="col-2")
            b Items&nbsp;
            small(class="") (#{content.size})
          div(class="col")
            form(method="GET" action="/admin/content?ref=new")
              +form-hiddeninput('parentRef', content.ref)
              +form-addbutton('Add')
          for item in Array.from(content.entries())
            div(class="row")
              div(class="col p-1")=item.title
              div(class="col-5")
                a(href=item.link)=item.link
              div(class="col text-end")
                a(href="/admin/content?ref="+item.ref 
                class="btn btn-sm btn-outline-primary") Edit

      mixin form-contentselect(name, value)
        select(class="form-select" name=name aria-label="content select")
          for item in contentlist
            - var selected = (item.ref == value)
            option(value=item.ref selected=selected) #{item.title} (#{item.type})

      mixin settings-form()
        form(method="POST" action="/admin/settings")
          each s in settings
            div(class="mb-3")
              - h = s.key+'Help';
              label(for=s.key class="floatingInput form-label")=s.name
              input(type="text" class="form-control" 
                name=s.key
                value=s.value id=s.key aria-describedby=h)
              div(id=h class="form-text")=s.note

          div(class="mb-3")
            button(type="submit" class="btn btn-primary") Submit
    
      mixin content-form( content )
        div(class="container")
          form(method="POST" action="/admin/content?ref="+content.ref)
            div(class="row border-bottom border-secondary border-2")
              h2(class="col")=content.title
              div(class="col-2 p-1 gap-2 d-flex text-end")
                //- col-sm d-grid p-1 gap-2 d-md-flex
                +form-submitbuttom('Save')
                +form-deletebutton('Delete')
            br
            +form-hiddeninput('ref', content.ref) 
            div(class="row mb-3")
              +form-label('title','Title')
              div(class="col-sm-10")
                +form-textinput('title',content.title)
            div(class="row mb-3")
              +form-label('status','Status')
              div(class="col-sm-5")
                +form-statusselect('status', content.status)
              div(class="col-sm-5")
                +form-dateinput('pubDate',content.pubDate)
            div(class="row mb-3")
              +form-label('link','Link')
              div(class="col-sm-10")
                +form-textinput('link',content.link)
            div(class="row mb-3")
              +form-label('content','Content')
              if content.isBag
                div(class="col-sm-10")
                  +form-textinput('content',content.content)
              else if content.type == 'link'
                div(class="col-sm-10")
                  +form-contentselect('content',content.content)
              else
                +form-textarea('content',content.content)
                
                
      mixin content-list( list )
        ul(class=" gx-5")
          each c in list
            li
              - link = "/admin/content?ref=" + c.ref;
              a(href=link)=c.title
              span &nbsp;
              span(class="badge text-bg-light")=c.type
                if c.isBag
                  span &nbsp;
                  span(class="badge text-bg-info")=c.size


      block maincontent
      
      div(class="row align-items-start justify-content-start")
        if page.title == 'settings'
          +settings-form()
      
        if page.title == 'content'
          div(class="col-3")
            +content-list(contentlist)
          div(class="col-9")
            if content
              +content-form(content)
              //- if content.type == 'socials'
              //-   h2(class="border-bottom border-secondary border-2")=content.title
              //-   br
              //-   +socials-form(content)
              //- else
              //-   +content-form(content)
              hr
              if content.isBag
                +content-bag(content)
      
        

      include footer.pug
