doctype html
html
  head
    title NodeJS-CMS Admin
    include head.pug
  body
    div(class="container")
      div(class="header")
        h1
          img(src="/resources/favicon.png" height="32px" width="32px") 
          b(class="text-capitalize")=page.title
          small(class="text-muted")  NodeJS-CMS

      nav(class="navbar navbar-expand-lg")
        div(class="container-fluid")
          //- a(class="navbar-brand" href="/admin") Admin
          div(class="collapse navbar-collapse")
            ul(class="navbar-nav")
              each title in admin.nav
                - var _class = 'nav-link';
                - _class += (page.title==title)? ' active' : '';
                - link = '/admin/'+title
                li(class="nav-item")
                  a(class=_class href=link)=title
          span(class="navbar-text")
            a(href='/' target='_blank') Visit the website

      mixin form-label( name, label )
        - var id = name+'_Id';
        label(for=id class="form-label col-sm-2 col-form-label-sm")=label
      
      mixin form-textinput( name, value, helpText)
        - var id = name+'_Id';
        - var helpId = name+'_HelpId';
        input(type="text"
          class="form-control form-control-sm" 
          name=name
          value=value id=id
          aria-describedby=helpId)
        div(id=helpId class="form-text")=helpText
      
      mixin form-hiddeninput(name, value)
        input(type="hidden" name=name value=value)
      
      mixin form-submitbuttom( label )
        button(type="submit" class="btn btn-primary btn-sm")=label
      
      mixin form-deletebutton( label )
        button(type="submit" name="delete" class="btn btn-outline-danger btn-sm")=label
      
      mixin form-addbutton( label )
        button(type="submit" class="btn btn-success btn-sm")=label
        
      mixin form-switch(name, label)
        - var id = name+'_Id';
        div(class="form-check form-switch")
          input(class="form-check-input" name=name type="checkbox" role="switch" id=id)
          label(class="form-check-label" for=id)=label

      mixin form-textarea(name, value)
        textarea(
          class="form-control"
          name=name
          id="exampleFormControlTextarea1"
          rows="10")=value
          
      mixin form-dateinput(name, value)
        input(
          type="date" class="form-control form-control-sm"
          name=name value=value)
          
      mixin form-statusselect(name, value)
        - var id = name+'_Id';
        div(class="btn-group" role="group")
          - var statusCodes = ['draft','onhold','published'];
          for s in statusCodes
            - var id = s+'_Id';
            - var checked = (s == value);
            input(type="radio" class="btn-check" 
              name=name value=s id=id autocomplete="off" checked=checked)
            label(
              class="btn btn-outline-primary btn-sm btn-outline-secondary" 
              for=id)=s
      
      mixin addnewcontent-button(content)
        form(method="GET" action="/admin/content")
          div(class="input-group")
            select(class="form-select form-select-sm" name="type")
              option add new content...
              for type in contentTypes
                option(value=type) new #{type}
            if content
              +form-hiddeninput('parentRef', content.ref)
            +form-hiddeninput('ref', 'new')
            +form-addbutton('Add')
      
      mixin addcontent-button(content, list)
        form(method="POST" action="/admin/content")
          div(class="input-group")
            select(class="form-select form-select-sm" name="ref")
              option link content...
              for content in list
                option(value=content.ref) #{content.title} (#{content.type})
            if content
              +form-hiddeninput('parentRef', content.ref)
            +form-addbutton('Link')
          
      mixin linkcontent-buttons(item, parent)
        form(method="POST" action="/admin/content")
          +form-hiddeninput('parentRef', content.ref)
          +form-hiddeninput('ref', item.ref)
          div(class="input-group")
            a(href="/admin/content?ref="+item.ref 
            class="btn btn-sm btn-outline-primary") Edit
            +form-deletebutton('Unlink')
          
      mixin content-bag(content, list)
        div(class="row")
          div(class="col")
            span Items&nbsp;
            small(class="") (#{content.size})
          div(class="col-4")
            +addcontent-button(content, list)
        for item in Array.from(content.entries())
          div(class="row my-2")
            div(class="col-3")=item.title
            div(class="col")
              a(href=item.link)=item.link
            div(class="col-2")
              +linkcontent-buttons(item, content)

      mixin form-contentselect(name, value, list)
        select(class="form-select" name=name aria-label="content select")
          for item in list
            - var selected = (item.ref == value)
            option(value=item.ref selected=selected) #{item.title} (#{item.type})

      mixin settings-form()
        form(method="POST" action="/admin/settings")
          each s in Object.fromEntries(settings)
            div(class="mb-3")
              - h = s.key+'Help';
              label(for=s.key class="floatingInput form-label")=s.name
              input(type="text" class="form-control" 
                name=s.key
                value=s.value id=s.key aria-describedby=h)
              div(id=h class="form-text")=s.note

          div(class="mb-3")
            button(type="submit" class="btn btn-primary") Submit
    
      mixin content-form( content, list )
        div(class="container")
          form(method="POST" action="/admin/content?ref="+content.ref)
            div(class="row mb-4 border-bottom border-secondary border-2")
              //- - var title = content.title || ('New '+content.type)
              h2(class="col") #{content.title || ('New '+content.type)}
              //- div(class="col-2 p-1 gap-2 text-end")
              div(class="col")
                div(class="input-group input-group-sm")
                  +form-submitbuttom('Save')
                  +form-deletebutton('Delete')
            
            +form-hiddeninput('ref', content.ref)
            +form-hiddeninput('type', content.type)
            div(class="row mb-1")
              +form-label('title','Title')
              div(class="col-sm-10")
                +form-textinput('title',content.title)
            div(class="row mb-1")
              +form-label('status','Status')
              div(class="col-sm-5")
                +form-statusselect('status', content.status)
              div(class="col-sm-5")
                +form-dateinput('pubDate',content.pubDate)
            div(class="row mb-1")
              +form-label('link','Link')
              div(class="col-sm-10")
                +form-textinput('link',content.link)
            div(class="row mb-1")
              +form-label('content','Content')
              
              if content.type == 'link'
                div(class="col-sm-10")
                  +form-contentselect('content',content.content, list)
              else if content.type == 'article'
                +form-textarea('content',content.content)
              else
                div(class="col-sm-10")
                  +form-textinput('content',content.content)
                
                
      mixin content-list( list )
        br
        +addnewcontent-button()
        hr
        ul(class="nav nav-tabs nav-justified")
          - types = ['articles', 'menus','links'];
          each type in types
            - let c = 'nav-link' + ((type == 'articles')? ' active':'');
            li(class="nav-item")
              a(class=c aria-current="page" href="#")=type
        br
        ul(class="nav flex-column")
          each c in list
            li
              - link = "/admin/content?ref=" + c.ref;
              a(href=link)=c.title
              span &nbsp;
              span(class="badge text-bg-light")=c.type
                if c.isBag
                  span &nbsp;
                  span(class="badge text-bg-info")=c.size
        

      block maincontent
      
      div(class="row")
        if page.title == 'settings'
          +settings-form()
      
        if page.title == 'content'
          - var list = Object.fromEntries(contentlist);
          div(class="col-3 bg-secondary-subtle")
            +content-list( list )
          div(class="col-9")
            if content
              +content-form(content, list)
              hr
              if content.isBag
                +content-bag(content, list)
            else
              
              div(class="alert alert-warning d-flex align-items-center" role="alert")
                div Content not found / Please select Content
        

      include footer.pug
